<config>
    <modules>
        <Mundipagg_Paymentmodule>
            <version>1.1.0</version>
        </Mundipagg_Paymentmodule>
    </modules>

    <global>
        <models>
            <paymentmodule>
                <class>Mundipagg_Paymentmodule_Model</class>
                <resourceModel>paymentmodule_resource</resourceModel>
            </paymentmodule>

            <paymentmodule_resource>
                <class>Mundipagg_Paymentmodule_Model_Resource</class>
                <entities>
                    <savedcreditcard>
                        <table>paymentmodule_savedcreditcard</table>
                    </savedcreditcard>
                </entities>
            </paymentmodule_resource>
        </models>

        <helpers>
            <paymentmodule>
                <class>Mundipagg_Paymentmodule_Helper</class>
            </paymentmodule>
        </helpers>
        
        <blocks>
            <paymentmodule>
                <class>Mundipagg_Paymentmodule_Block</class>
            </paymentmodule>
            <adminhtml>
                <rewrite>
                    <sales_order_totals>Mundipagg_Paymentmodule_Block_Adminhtml_Sales_Order_Totals</sales_order_totals>
                </rewrite>
            </adminhtml>
            <sales>
                <rewrite>
                    <order_totals>Mundipagg_Paymentmodule_Block_Sales_Order_Totals</order_totals>
                </rewrite>
            </sales>
        </blocks>

        <fieldsets>
            <sales_convert_quote_address>
                <mundipagg_interest>
                    <to_order>*</to_order>
                </mundipagg_interest>
                <mundipagg_base_interest>
                    <to_order>*</to_order>
                </mundipagg_base_interest>
            </sales_convert_quote_address>
            <sales_convert_order>
                <mundipagg_interest>
                    <to_invoice>*</to_invoice>
                    <to_shipment>*</to_shipment>
                    <to_cm>*</to_cm>
                </mundipagg_interest>
                <mundipagg_base_interest>
                    <to_invoice>*</to_invoice>
                    <to_shipment>*</to_shipment>
                    <to_cm>*</to_cm>
                </mundipagg_base_interest>
            </sales_convert_order>
        </fieldsets>

        <events>
            <controller_action_layout_load_before>
                <observers>
                    <mundipagg_account_creditcard_wallet_menu_item>
                        <type>singleton</type>
                        <class>paymentmodule/observer</class>
                        <method>addAccountCreditcardWalletMenuItem</method>
                    </mundipagg_account_creditcard_wallet_menu_item>
                </observers>
            </controller_action_layout_load_before>

            <checkout_onepage_controller_success_action>
                <observers>
                    <mundipagg_checkout_success_info>
                    <type>singleton</type>
                    <class>paymentmodule/observer</class>
                    <method>addAdditionalInformationToCheckout</method>
                </mundipagg_checkout_success_info>
                </observers>
            </checkout_onepage_controller_success_action>

           <core_block_abstract_prepare_layout_after>
                <observers>
                    <mundipagg_paymentmodule_observer>
                        <type>singleton</type>
                        <class>Mundipagg_Paymentmodule_Model_Observer</class>
                        <method>injectTabs</method>
                    </mundipagg_paymentmodule_observer>
                </observers>
            </core_block_abstract_prepare_layout_after>

           <core_block_abstract_to_html_before>
                <observers>
                    <mundipagg_paymentmodule_observer>
                        <type>singleton</type>
                        <class>Mundipagg_Paymentmodule_Model_Observer</class>
                        <method>setActiveTab</method>
                    </mundipagg_paymentmodule_observer>
                </observers>
            </core_block_abstract_to_html_before>
        </events>

        <sales>
            <quote>
                <totals>
                    <mundipagg_interest>
                        <class>Mundipagg_Paymentmodule_Model_Sales_Quote_Address_Total_Interest</class>
                    </mundipagg_interest>
                </totals>
            </quote>
        </sales>
        <resources>
            <mundipagg_paymentmodule_setup>
                <setup>
                    <module>Mundipagg_Paymentmodule</module>
                </setup>
            </mundipagg_paymentmodule_setup>
        </resources>
    </global>

    <frontend>
        <routers>
            <paymentmodule>
                <use>standard</use>
                <args>
                    <module>Mundipagg_Paymentmodule</module>
                    <frontName>mp-paymentmodule</frontName>
                </args>
            </paymentmodule>
        </routers>

        <layout>
            <updates>
                <paymentmodule module="Mundipagg_Paymentmodule">
                    <file>paymentmodule.xml</file>
                </paymentmodule>
            </updates>
        </layout>
        <translate>
            <modules>
                <paymentmodule>
                    <files>
                        <default>mundipagg_frontend_locale.csv</default>
                    </files>
                </paymentmodule>
            </modules>
        </translate>
    </frontend>

    <adminhtml>
        <layout>
            <updates>
                <paymentmodules module="Mundipagg_Paymentmodule">
                    <file>paymentmodule.xml</file>
                </paymentmodules>
            </updates>
        </layout>

        <translate>
            <modules>
                <paymentmodule>
                    <files>
                        <default>mundipagg_adminhtml_locale.csv</default>
                    </files>
                </paymentmodule>
            </modules>
        </translate>
    </adminhtml>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <paymentmodule before="Mage_Adminhtml">Mundipagg_Paymentmodule_Adminhtml</paymentmodule>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <default>
        <mundipagg_config>
            <general_group>
                <module_status>1</module_status>
                <logs>1</logs>
                <test_mode>1</test_mode>
            </general_group>
            <address_group>
                <street>street_1</street>
                <number>street_2</number>
                <complement>street_3</complement>
                <neighborhood>street_4</neighborhood>
            </address_group>
            <boleto_group>
               <boleto_status>0</boleto_status>
               <boleto_payment_title>Boleto</boleto_payment_title>
               <boleto_due_at>3</boleto_due_at>
            </boleto_group>
            <creditcard_group>
                <cards_config_status>0</cards_config_status>
                <creditcard_payment_title>Credit card</creditcard_payment_title>
                <operation_type>AuthAndCapture</operation_type>
            </creditcard_group>
        </mundipagg_config>

        <payment>
            <paymentmodule_creditcard>
                <model>paymentmodule/creditcard</model>
                <title>Mundipagg - credit card</title>
                <allowspecific>0</allowspecific>
                <active>1</active>
                <payment_action>authorize</payment_action>
            </paymentmodule_creditcard>

            <paymentmodule_boleto>
                <model>paymentmodule/boleto</model>
                <title>Mundipagg - boleto</title>
                <allowspecific>0</allowspecific>
                <active>1</active>
                <payment_action>authorize</payment_action>
            </paymentmodule_boleto>

            <paymentmodule_boletocc>
                <model>paymentmodule/boletocc</model>
                <title>Mundipagg - boleto + cc</title>
                <allowspecific>0</allowspecific>
                <active>1</active>
                <payment_action>authorize</payment_action>
            </paymentmodule_boletocc>

            <paymentmodule_twocreditcards>
                <model>paymentmodule/twocreditcards</model>
                <title>Mundipagg - Two credit cards</title>
                <allowspecific>0</allowspecific>
                <active>1</active>
                <payment_action>authorize</payment_action>
            </paymentmodule_twocreditcards>
        </payment>
    </default>
</config>
